.container{
    width: 1170px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.bg-header{
    background-color: #7FBFFF ;
    display: flex;
    justify-content: center;
}
